@import '/bower_components/angular-material/themes/amber-theme.css';
@import '/bower_components/angular-material/themes/blue-grey-theme.css';
@import '/bower_components/angular-material/themes/blue-theme.css';
@import '/bower_components/angular-material/themes/brown-theme.css';
@import '/bower_components/angular-material/themes/cyan-theme.css';
@import '/bower_components/angular-material/themes/deep-orange-theme.css';
@import '/bower_components/angular-material/themes/deep-purple-theme.css';
@import '/bower_components/angular-material/themes/green-theme.css';
@import '/bower_components/angular-material/themes/grey-theme.css';
@import '/bower_components/angular-material/themes/indigo-theme.css';
@import '/bower_components/angular-material/themes/light-blue-dark-theme.css';
@import '/bower_components/angular-material/themes/light-green-theme.css';
@import '/bower_components/angular-material/themes/lime-theme.css';
@import '/bower_components/angular-material/themes/orange-theme.css';
@import '/bower_components/angular-material/themes/pink-theme.css';
@import '/bower_components/angular-material/themes/purple-theme.css';
@import '/bower_components/angular-material/themes/red-theme.css';
@import '/bower_components/angular-material/themes/teal-theme.css';
@import '/bower_components/angular-material/themes/yellow-theme.css';

/*
.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}
*/

md-toolbar.headerButton .md-toolbar-tools .md-button, md-toolbar.headerButton .md-toolbar-tools .md-button:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none;
}
md-toolbar.headerButton .md-toolbar-tools .md-button:hover button {
  background: rgba(46, 168, 109, 0.8);
}
md-toolbar.headerButton .md-toolbar-tools .md-button:focus, md-toolbar.headerButton .md-toolbar-tools .md-button button:focus {
  background: #2ea86d;
}
