@import 'about.scss';

body {
  font-family: RobotoDraft, sans-serif;
  color: #333;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}
html, body {
  height: 100%;
}

#navheader {
  background-color: #f4b400;
  color: white;
}
/* drawer is always visible on a wide screen
   so menu button isn't required */
core-drawer-panel:not([narrow]) #navicon {
  display: none;
}

core-scroll-header-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eee;
}

/* background for toolbar when it is at its full size */
core-scroll-header-panel::shadow #headerBg {
  background-image: url(https://www.polymer-project.org/components/core-scroll-header-panel/demos/images/bg9.jpg);
}

/* background for toolbar when it is condensed */
core-scroll-header-panel::shadow #condensedHeaderBg {
  background-color: #f4b400;
}

core-toolbar {
  color: #f1f1f1;
  fill: #f1f1f1;
  background-color: transparent;
}

.title {
  -webkit-transform-origin: 0;
  transform-origin: 0;
  font-size: 40px;
}

.content {
  padding: 8px;
  height: 2000px;
}

.card {
  display: inline-block;
  background: white;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 16px;
  padding: 16px;
  border-radius: 2px;
}

[drawer] {
  background-color: #fff;
}

[main] {
  background-color: #eee;
}
