@import '/bower_components/angular-material/themes/amber-theme.css';

/*
.layout-content,
.doc-content {
  max-width: 864px;
  margin: auto;
}

md-input-group.full-width > input {
  width: 100%;
}

.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}

md-toolbar .md-toolbar-tools .md-button, md-toolbar .md-toolbar-tools .md-button:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none;
}

md-toolbar .md-toolbar-tools md-button:hover button {
  background: rgba(46, 168, 109, 0.8);
}

md-toolbar .md-toolbar-tools md-button:focus, md-toolbar .md-toolbar-tools md-button button:focus {
  background: #2ea86d;
}*/