<md-dialog aria-label="Add new participant">
  <form ng-submit="hide()">
    <md-content>
      <div layout="column" layout-padding>
        <!-- 
        <input type="text" ng-model="participant.firstName" name="text" />
        <input type="text" ng-model="participant.lastName" name="text" />
        <input type="email" ng-model="participant.email" name="text" />
        <input type="submit" value="Okay" />
         -->
        
        <md-text-float label="First Name" ng-model="participant.firstName" class="full-width"></md-text-float>
        <md-text-float label="Last Name" ng-model="participant.lastName" class="full-width"></md-text-float>
        <md-text-float label="E-Mail" ng-model="participant.email" type="email" class="full-width"></md-text-float>
        
        <div class="md-actions" layout="horizontal" layout-align="end">
          <md-button ng-click="cancel()" aria-label="Cancel">
            Cancel
          </md-button>
          <md-button class="md-primary" type="submit" aria-label="Okay">
            Okay
          </md-button>
        </div>
      </div>
    </md-content>
  </form>
</md-dialog>