<md-whiteframe class="md-whiteframe-z1" layout="column" 
  flex="60" flex-phone="90" flex-tablet="80" flex-tablet-landscape="70" flex-pc="60"
  offset="20" offset-phone="5" offset-tablet="10" offset-tablet-landscape="15" offset-pc="20">
  <md-toolbar class="headerButton">
    <h1 class="md-toolbar-tools">
      <span flex>Gift Exchange</span>
      <md-button ng-click="dialogBasic($event)" class="md-fab md-primary" aria-label="Add">
        <!--
        <md-tooltip>
          Add
        </md-tooltip>
        -->
        <!--
        <md-icon icon="/img/icons/ic_refresh_24px.svg">
        </md-icon>
        -->
        +
      </md-button>
    </h1>
  </md-toolbar>
  
  <!-- Participants list -->
  <md-content>
  <md-content layout="column" flex layout-fill style="max-height: 600px;">
    <section>
      <md-subheader class="md-primary">Participants</md-subheader>
      <md-list layout="column">
        <md-item ng-repeat="participant in participants">
          <md-item-content>
            <!--
            <div class="md-tile-left">
                <img ng-src="{{message.face}}" class="face" alt="{{message.who}}">
            </div>
            -->
            <div class="md-tile-content">
              <h3>{{participant.firstName + ' ' + participant.lastName}}</h3>
              <h4>{{participant.email}}</h4>
              <!--
              <p>
                {{message.notes}}
              </p>
              -->
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </section>
  </md-content>
  </md-content>
  
  <!--
  <p class="row" ng-repeat="participant in participants">
    <md-text-float ng-model="participant.firstName" disabled> </md-text-float>
    <md-button ng-click="removeParticipant(participant)" class="md-fab md-warn" aria-label="Remove">
      <md-icon icon="/images/cross97.svg" style="width: 24px; height: 24px;"></md-icon>
    </md-button>
  </p>
  -->
</md-whiteframe>
